<a {{#if this.review}}class="button button-primary" href="{{this.review}}"{{else}}class="button"{{/if}} target="_blank">{{#if this.dateStart}} {{this.label}} ({{this.dateStart}} - {{this.dateEnd}}){{else}}{{this.label}}{{/if}}</a>
